[main_parser]

;Название шаблона
template_name = template1

;Количество потоков для сбора ссылок на суды (0 = количеству прокси(рекомендуется), если прокси нет и указан 0 = 10)
semaphore = 0

;Количество браузеров(максимум = количеству прокси, 0 = количеству прокси(рекомендуется), если прокси нет и указан 0 = 1 браузеру)
browsers = 1

;Количество контекстов браузера в каждом браузере(Больше трех нет особого смысла ставить, начинают отлетать прокси)
pages = 2

;Режим скрытого браузера
headless = on

;Ключ capmonster
capmonster_token = 123123123
