[main_settings]
template_name = 
csv_or_bipium = 
semaphore = 
browsers = 
pages = 
headless = 
start_time = 
stop_dates = 
start_now = 

[bipium]
bipium_catalog = 
bipium_domain = 
bipium_login = 
bipium_password = 

[data]
capmonster_token = 
