[
  {
    "server": "45.88.208.2",
    "port": 8298,
    "username": "user1415",
    "password": "t94h"
  },
  {
    "server": "45.88.208.2",
    "port": 8298,
    "username": "user1415",
    "password": "t94h"
  },
  {
    "server": "45.88.208.2",
    "port": 8298,
    "username": "user1415",
    "password": "t94h"
  },
  {
    "server": "45.88.208.2",
    "port": 8298,
    "username": "user1415",
    "password": "t94h"
  }
]