{
	"template1":
		{
			"regions":
				{
					"Алтайский край": ["Бийск"],
					"Тверская область": [],
					"Саратовская область": [],
					"Краснодарский край": []
				},
			"days": "5, -2",
			"articles": "all"
		},
	"none_regions":
		{
			"regions":
				{

				},
			"days": "5, 6, -4",
			"articles": "all"
		}
}